body {
    background-color: #92846D;
}

#recipes-list {
    margin: auto;
    border: 3px solid #6D9272;
    background-color: #6D7B92;
    border-radius: 20px;
    width: 600px;
    height: 200px;
}

#recipes-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

#recipes {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    margin: auto;
}

.recipe-page {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    align-items: center;

}

.main-content {
    border: 3px solid grey;
    border-radius: 20px;
    box-shadow: 10px 10px #34383560;
    background-color: #6D7B92;
    padding: 10px;
    margin: 1em;
    

}
